.water {background-color: #6390F0;}
.normal {background-color: #A8A77A;}
.fire {background-color: #EE8130;}
.electric {background-color: #F7D02C;}
.grass {background-color: #7AC74C;} 
.ice {background-color: #96D9D6;} 
.fighting { background-color:#C22E28;} 
.poison { background-color: #A33EA1;} 
.ground {background-color: #E2BF65;} 
.flying {background-color: #A98FF3;} 
.psychic {background-color:#F95587}
.bug {background-color:#A6B91A}
.rock {background-color: #B6A136}  
.ghost {background-color: #735797} 
.dragon {background-color: #6F35FC} 
.dark { background-color: #705746} 
.steel {background-color: #B7B7CE}	
.fairy {background-color: #D685AD}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 ;
    margin: 0.3rem;
    border: 1px solid #efefef;
    border-radius: 0.2rem;
    min-width: 160px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

h3 {
    margin-bottom: 0.2rem;
}

.card .number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255,255,255,0.3);
}

.card img {
    width: 120px;
    height: 120px;
}

.card small {
    text-transform: capitalize;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-wrapper button {
    color: rgb(22, 22, 22);
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.185);
}